@keyframes heartbeat {
    from { // можно указать 0%
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to { // можно указать 100%
        transform: scale(1);
    }
}