.consultation {
    min-height: 680px;
    padding: 98px 0 90px 0;
    background: url('../img/bg/bg2.png') center (center/cover) no-repeat;
    .error {
        border: 2px solid $red;
        margin-bottom: 15px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
    }
    label.error {
        border: 0;
    }
    input.error {
        color: #4b4b4b;
        font-weight: 300;
    }
    &__subscr {
        margin: 80px 0 0 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }
}