@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 100;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Museo Sans Cyrl - 100"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/MuseoSansCyrl-100.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
}
@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 300;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Museo Sans Cyrl - 300"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/MuseoSansCyrl-300.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
}
@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Museo Sans Cyrl - 500"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
}
@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Museo Sans Cyrl - 700"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
}